<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
  <test name="Personal Loan">
    <classes>
      <class name="Test.Day1"/>
      <class name="Test.Day2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
